<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>1000 Pitches</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../public/css/main.css">
</head>
<body>
<div class="landing">
  <div class="space"></div>
  <div class="center">
    <span>BRUIN</span><span id="be-blue">ENTREPRENEURS presents</span> <br>
    <img src="../public/assets/images/landing-logo.png">
  </div>
  <div class="space"></div>
</div>

<div class="what">
  What is 1kp?

  $9000.
  9 Categories.
  1 Pitch.

  <a href=""><div class="gopitch">GO PITCH</div></a>
</div>

<div class="how">
  How's it gonna work?
  
</div>

<div class="sponsors">
  <h1>SPONSORS</h1>
  
</div>

</body>
</html>
